/* Set cursor and disable text selection */
* {
	cursor:default;
	-moz-user-select:none;
}

/* Body */
body {
	display:flex;
	flex-direction:column;
	background-color:#FF950E;
	margin:0px;
	padding:0px;
	height:100vh;
}

/* Center everything */
div {
	margin:auto;
}

.spacer, .content * {
	flex:1;
}

/* Content container */
.content {
	display:flex;
	flex-direction:column;
	text-align:center;
}

/* Text */
.content span {
	text-transform:uppercase;
	font-family:sans-serif;
	font-weight:bold;
	color:white;
	font-size:4vh;
}

/* Logo */
img {
	width:20vh;
	margin:auto;
}