.panel-section-list :first-child {
  flex: unset !important;
}

.panel-list-item.selected {
  background: var(--blue-60) !important;
  color: white !important;
}

.panel-list-item.selected * {
  color: white !important;
}

.button-row {
  display: flex;
}

.button-row > button {
  flex: 1;
  margin: 0 0.5em;
}

#url-list-empty,
#url-list-notfound {
  padding: 4px 0;
  font-style: italic;
}

#backup-file {
  visibility: hidden !important;
  width: 0px;
}

.hidden {
  display: none !important;
}

.error {
  color: red;
}

.dialog {
  margin: auto 16px;
  border: 1px solid var(--grey-90-a30);
  padding: 0 0.5em;
}

#search:disabled {
  cursor: not-allowed;
}

#backup-overwrite-container {
  display: inline-flex;
  align-items: center;
  width: max-content;
  margin: 0.5em 0;
}

#backup-overwrite {
  margin-right: 1em;
}